.flex{
    display: flex;
    flex-wrap: wrap;
}

.pair{
    width: 30%;
    margin-right: 5px;
}

.square{
    width: 100%;
    height: 400px;
    background-color: lightgray;
    margin-bottom: 5px;
}